@layer base, utils, components;

@import '@webtui/css/base.css';

/* Utils */
@import '@webtui/css/utils/box.css';

/* Components */
@import '@webtui/css/components/button.css';
@import '@webtui/css/components/input.css';
@import '@webtui/css/components/textarea.css';
@import '@webtui/css/components/typography.css';
@import '@webtui/css/components/dialog.css';
@import '@webtui/css/components/badge.css';
@import '@webtui/css/components/separator.css';
@import '@webtui/css/components/table.css';

/* Nerd font */
@import '@webtui/plugin-nf';

/* Themes */
@import '@webtui/theme-catppuccin';

@font-face {
  font-family: 'CommitMono Nerd Font';
  src: url('/fonts/CommitMonoNerdFontMono-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-size: 19px;
    --font-family: 'CommitMono Nerd Font', monospace, Menlo, Monaco, monospace, 'Symbols Nerd Font';
    --box-border-color: #4c4f69;
    --separator-color: #4c4f69;
    --separator-width: 1px;
    --table-border-width: 2px;
    --table-border-color: #4c4f69;
  }

  @media (max-width: 100ch) {
    :root {
      --font-size: 18px;
    }
  }

  div[is-='separator'] {
    flex-direction: column;
    width: 100%;
  }
}
