@layer base, utils, components;

@import '@webtui/css/base.css';

/* Utils */
@import '@webtui/css/utils/box.css';

/* Components */
@import '@webtui/css/components/button.css';
@import '@webtui/css/components/typography.css';
@import '@webtui/css/components/dialog.css';

/* Nerd font */
@import '@webtui/plugin-nf';

/* Themes */
@import '@webtui/theme-catppuccin';

@layer base {
  :root {
    --font-size: 20px;
    --font-family: 'JetBrainsMono', monospace, Menlo, Monaco, monospace, "Symbols Nerd Font";
  }

  @media (max-width: 100ch) {
    :root {
      --font-size: 18px;
    }
  }
}
